header {
    /* background-color: #f2f2f2; */
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    margin-right: 15px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .product {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }
  